@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
      --primary-bg-color: black;
      --link-color: #ffffff;
}

body {
    font-family: "Inter Tight", sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

header .logo h1 {
    color: #4a90e2;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin: 0 15px;
    
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 25px;
}

header .auth a {
    text-decoration: none;
    margin-left: 10px;
}

/* container da bolinha */
.user-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* bolinha com inicial */
.user-circle {
    width: 45px;
    height: 45px;
    background: #4F7BF1;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.user-circle:hover {
    background: #355dcc;
}

/* dropdown */
.dropdown {
    position: absolute;
    top: 55px;
    right: 0;
    background: white;
    width: 180px;
    border-radius: 10px;
    padding: 10px 0;
    display: none;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    z-index: 100;
}

.dropdown a {
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    transition: 0.2s;
}

.dropdown a:hover {
    background: #f0f0f0;
}

.dropdown .logout {
    color: red;
    font-weight: bold;
}


/* TÍTULO */
h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 700;
    color: #000;
}

form {
    width: 500px;
    background: #ffffff;
    padding: 55px 60px;
    border-radius: 12px;
    margin: 40px auto;
    box-shadow: 0 4px 25px rgba(0,0,0,0.08);
    text-align: center;
}

/* Labels */
form label {
    display: block;
    text-align: left;
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 500;
    color: #222;
}

/* Inputs e Selects */
form input[type="text"],
form input[type="date"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
form select {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    padding: 0 15px;
    border: 1px solid #bfbfbf;
    margin-bottom: 20px;
    outline: none;
    font-size: 15px;
    background: #fff;
    appearance: none;
}

/* Botão */
form button,
form input[type="submit"] {
    width: 100%;
    height: 45px;
    border-radius: 30px;
    border: none;
    background-color: #2B357D;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: .2s;
}

form button:hover,
form input[type="submit"]:hover {
    background-color: #191e48;
}

/* Link voltar */
.back-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #273075;
    text-decoration: none;
    font-size: 14px;
}

.back-link:hover {
    text-decoration: underline;
}

/* RESPONSIVIDADE */
@media (max-width: 850px) {
    nav ul {
        gap: 12px;
    }

    nav ul li a {
        font-size: 16px;
    }

    header img {
        height: 60px;
    }

    table th, table td {
        font-size: 14px;
        padding: 10px;
    }

    .action-btn {
        font-size: 12px;
        padding: 6px 10px;
    }
}

.seta img {
    position: absolute;
    top: 110px;
    left: 40px;
}

textarea {
    width:  380px;
}