@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
      --primary-bg-color: black;
      --link-color: #ffffff;
}

body {
    font-family: "Inter Tight", sans-serif;
    background-color: #f5f5f5;
    color: #333;
}


.header {
    background: #ffffff;
    border-bottom: 1px solid #e4e7eb;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.header-left .cargo {
    font-size: 13px;
    color: #6b7280;
}

.header-actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* BOTÕES */
.btn {
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.btn.ponto {
    background: #e8f0ff;
    color: #2f4bff;
    border: 1px solid #c9d8ff;
}

.btn.ponto:hover {
    background: #dce6ff;
}

.btn.sair {
    background: #ffe8e8;
    color: #d62828;
    border: 1px solid #ffcccc;
}

.btn.sair:hover {
    background: #ffdede;
}

/* CONTEÚDO */
.container {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.titulo {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 18px 22px;
    min-width: 180px;

    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
    border: 1px solid #e5e7eb;

    display: flex;
    flex-direction: column;
}

.card .label {
    color: #6b7280;
    font-size: 13px;
}

.card .valor {
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
}

/* BOTÃO PRINCIPAL */
.btn.listar {
    display: inline-block;
    margin-top: 35px;
    background: #2B357D;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
}

.btn.listar:hover {
    background: #1d2354;
}