@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
      --primary-bg-color: black;
      --link-color: #ffffff;
}

body {
    font-family: "Inter Tight", sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.topo {
    width: 100%;
    background: #2B357D;
    color: white;
    padding: 18px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo h1 {
    font-size: 22px;
    font-weight: bold;
}

.topo .logout {
    background: #ff4d4d;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.2s;
}

.topo .logout:hover {
    background: #e63939;
}

/* ---------- CONTAINER ---------- */
.container {
    margin: 40px auto;
    max-width: 900px;
    text-align: center;
}

.boas-vindas {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 35px;
    color: #333;
}

/* ---------- GRID DE CARDS ---------- */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-decoration: none;
    color: #2B357D;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.25s;
    border-left: 6px solid #2B357D;
}

.card:hover {
    background: #eaf1ff;
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}